{{!-- setup to have the template that Handlebars can render onto --}}
{{!-- create button to submit user input to database --}}
<h1>Burgers</h1>



<h3>Haven't Eaten!</h3>
<div id="not_eaten">

    {{!-- keep undevoured items on list ONLY --}}
    {{#each burgers}} 
    {{#unless devoured}}
        <form action="/{{id}}" method="POST">
            <ul>
                <li>{{id}}. {{burger_name}}</li><button id="devour-button" type="submit">Eat This Burger!</button>
            </ul>
        </form>
    {{/unless}} 
    {{/each}}

</div>


    {{!-- //////////////////////////////////// --}}



<div>
  <form action="/" method="POST">
  	<textarea type="text" name="newBurger"></textarea>

  	<button type="submit">Submit</button>
  </form>
</div>


  {{!-- //////////////////////////////////// --}}

<h3>Have Eaten!</h3>
<div id="eaten">

    {{!-- keep devoured items on list ONLY --}}
    {{#each burgers}} 
    {{#if devoured}}
        <form action="/{{id}}" method="POST">
            <ul>
                <li>{{id}}. {{burger_name}}</li><button id="devour-button" type="submit">Eat This Burger!</button>
            </ul>
        </form>
    {{/if}} 
    {{/each}}

</div>