{{!-- setup to have the template that Handlebars can render onto --}}
{{!-- create button to submit user input to database --}}



<h3 class= "title is-2">Haven't Eaten!</h3>
<div id="not_eaten">

    {{!-- keep undevoured items on list ONLY --}}
    {{#each burgers}} 
    {{#unless devoured}}
        <form action="/{{id}}" method="POST">
            <ul>
                <li>{{id}}. {{burger_name}}</li><button id="devour-button" type="submit">Eat!</button>
            </ul>
        </form>
    {{/unless}} 
    {{/each}}

</div>


    {{!-- //////////////////////////////////// --}}






  {{!-- //////////////////////////////////// --}}

<h3 class= "title is-2">Have Eaten!</h3>
<div id="eaten">

    {{!-- keep devoured items on list ONLY --}}
    {{#each burgers}} 
    {{#if devoured}}
        <form action="/{{id}}" method="POST">
            <ul>
                <li>{{id}}. {{burger_name}}</li>
            </ul>
        </form>
    {{/if}} 
    {{/each}}

</div>